.card {
    margin: 10px;
    /*border: 0px solid black;*/
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.07);
}

.card > img {
    object-fit: fill;
    min-height: 200px;
    min-width: 300px;
    width: 100%;
}